<!DOCTYPE html>
<html lang="en">

<!-- * Head -->
<%- include('modules/macro/head.ejs'); %>

<body>
    <!-- * Header -->
    <%- include('modules/macro/header.ejs'); %>

    <!-- * Main -->
    <main>
    </main>

    <!-- * Footer -->
    <%- include('modules/macro/footer.ejs'); %>

    <!-- * Attribution -->
    <%- include('modules/macro/attribution.ejs'); %>

    <!-- * Client-side Scripts -->
    <%- include('modules/macro/scripts.ejs'); %>
</body>

</html>